.box {
  border: 2px dotted black;
  margin: 10px 0;
  padding: 10px;
}

.parent {
  position: relative;
  margin-top: 50px;
  background-color: green;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: yellow;
}
