html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.input {
  position: relative;
  display: inline-block;
}

.input img {
  position: absolute;
  left: 5px;
  width: 12px;
  height: 12px;
  margin-top: 4px;
}

.search {
  display: flex;
  justify-content: center;
}

.button {
  padding: 5px;
  background-color: #f1f3f4;
  font-size: 12px;
  color: grey;
  border-radius: 2px;
}

.flex-spacer {
  flex: 1;
}

.offered {
  background-color: #f1f3f4;
  padding: 10 5px;
  text-align: left;
  color: gray;
  font-size: 12px;
}

.footer-box {
  background-color: #f1f3f4;
  padding: 0;
  text-align: left;
  border-top: 1px solid #dadce0;
}

.footer-content {
  max-width: 100%;
  padding: 0 5px;
  color: gray;
  font-size: 12px;
}
