html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: max-content;
}

.input {
  position: relative;
  display: inline-block;
}

.input img {
  position: absolute;
  left: 5px;
  width: 12px;
  height: 12px;
  margin-top: 4px;
}

.search {
  display: flex;
  justify-content: center;
}

.button {
  padding: 5px;
  background-color: #f1f3f4;
  font-size: 12px;
  color: grey;
  border-radius: 2px;
}

.flex-spacer {
  flex: 1;
}

footer {
  background-color: #f1f3f4;
  padding: 0;
  text-align: left;
  font-size: 15px;
}

.footer-first {
  padding: 15px 30px;
  background-color: #f1f3f4;
  text-align: left;
  color: gray;
}

.footer-second {
  max-width: 100%;
  padding: 15px 30px;
  color: gray;
  border-top: 1px solid #dadce0;
  display: flex;
  justify-content: space-around;
}

.footer-second-content {
  display: flex;
  gap: 30px;
}
